[Unit]
Description=Runnig process as daemon which collects Behavioural Data and sends to server.  
After=network.target

[Service]
Type=simple

User=root

ExecStart=/usr/local/bin/Behavioural_Attributes_Buff_Static

Restart=on-failure

ReadOnlyPaths=/etc/ssl/behavioural_agent

StandardOutput=append:/var/log/Behavioural_Attributes.log
StandardError=append:/var/log/Behavioural_Attributes.log

WorkingDirectory=/tmp

PrivateTmp=true

[Install]
WantedBy=multi-user.target

