[Unit]
Description=Service File For Creating Demon And The Behavioural Data Collection  
After=network.target

# Ensure this starts after network is ready
[Service]
Type=simple

# Path to your statically linked binary
ExecStart=/usr/local/bin/Static_Behavioural_Attributes

# Restart the service on failure (e.g., crash)
Restart=on-failure

# Optional: restrict access for security
User=nobody
Group=nogroup

# Set the working directory (optional)
WorkingDirectory=/tmp

# Use private temp directory (optional)
PrivateTmp=true

# Log output to systemd journal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

#sudo systemctl daemon-reexec
#sudo systemctl daemon-reload
#sudo systemctl enable Behavioural_Attributes
#sudo systemctl status Behavioural_Attributes
#sudo systemctl start Behavioural_Attributes
#sudo systemctl status Behavioural_Attributes
