[Unit]
Description=Service File For Creating Demon And The Behavioural Data Collection  
After=network.target

# Ensure this starts after network is ready
[Service]
Type=simple

# Path to your statically linked binary
ExecStart=/usr/local/bin/Static_Behavioural_Attributes

# Restart the service on failure (e.g., crash)
Restart=on-failure

DynamicUser=yes

StandardOutput=append:/var/log/Behavioural_Attributes.log
StandardError=append:/var/log/Behavioural_Attributes.log

# Set the working directory (optional)
WorkingDirectory=/tmp

# Use private temp directory (optional)
PrivateTmp=true

[Install]
WantedBy=multi-user.target

